.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-row-gap: 24px;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 64px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.link__jt8I4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.link__jt8I4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__jt8I4 > :global(.__wab_flex-container) > *,
.link__jt8I4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__jt8I4 > :global(.__wab_flex-container) > picture > img,
.link__jt8I4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__k0OZu {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.h4___2EMfF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__cs4Xq {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.link___4HHu2 {
  position: relative;
  color: #000000;
  background: #f9f9f9;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.link___4HHu2 > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link___4HHu2 > :global(.__wab_flex-container) > *,
.link___4HHu2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___4HHu2 > :global(.__wab_flex-container) > picture > img,
.link___4HHu2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__sfTeZ {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.h4__rU1QH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__mxMEi {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.link__fbOkd {
  position: relative;
  color: #000000;
  background: #f9f9f9;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.link__fbOkd > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__fbOkd > :global(.__wab_flex-container) > *,
.link__fbOkd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fbOkd > :global(.__wab_flex-container) > picture > img,
.link__fbOkd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__n1NIk {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.h4__fE7Fp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__zj8Gs {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.link__fmmzy {
  position: relative;
  color: #000000;
  background: #f9f9f9;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.link__fmmzy > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link__fmmzy > :global(.__wab_flex-container) > *,
.link__fmmzy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__fmmzy > :global(.__wab_flex-container) > picture > img,
.link__fmmzy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__hkt7 {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.h4___6NjXp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__s99Ba {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.link___8ZjWu {
  position: relative;
  color: #000000;
  background: #f9f9f9;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.link___8ZjWu > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.link___8ZjWu > :global(.__wab_flex-container) > *,
.link___8ZjWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___8ZjWu > :global(.__wab_flex-container) > picture > img,
.link___8ZjWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__rd30G {
  object-fit: cover;
  max-width: 100%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.h4__rVcNf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__fErI {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
